* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
 }

 body {
   font-size: 1.1rem;
    font-family: fantasy;
    background-image: linear-gradient(to left, rgba(3, 211, 3, 0.741), rgb(136, 210, 234), rgb(255, 173, 185), rgba(130, 2, 130, 0.621));
}

 header {
    border-bottom: 3px solid #fd5da8;
}

 nav {
    background-color: #fa86c4;
    padding: 10px auto;
 }

 nav > ul {
    list-style-type: none;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    padding: 20px 10px;
 }

 .pri-navigation li {
    display: flex;
 }

 .pri-navigation li a,
 .pri-navigation li a:visited {
    color: black;
 }

 .pri-navigation li a:hover,
 .pri-navigation li a:focus {
    text-decoration: underline;
    font-weight: 600;
    cursor: pointer;
 }

 main {
    margin: 0 1rem;
 }

.controls {
margin-top: 20px;
width: 100%;
display: flex;
align-items: center;
justify-content: space-around;
}

button {
width: 100px;
padding: 5px;
font-size: 90%;
font-weight: 800;
background-color: pink;
text-align: center;
}

button:hover {
background-color: #fa86c4;
border: 1px solid pink;
}

 h1 {
    text-align: center;
    border: 5px ridge gray;
    margin-top: 30px;
   padding: 10px;
 }

 .left {
    float: left;
    margin: 15px 10px 15px 0;
    border: solid 3px gray;
    padding-bottom: 5px;
 }

 .right {
   float: right;
   margin: 15px 0 15px 10px;
   border: solid 3px gray;
   padding-bottom: 5px;
 }

 .clear {
   clear: both;
 }

 section {
    display: flow-root;
 }

 h2 {
    text-decoration: underline;
    padding: 15px 0;
 }

 #main p {
    margin: 10px 0;
 }

 figure {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
 }

 figure img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    margin: 0 auto;
 }

 figcaption {
    font-style: italic;
    text-align: center;
    text-decoration: underline;
 }

 #awards ul {
    margin-left: 1rem;
    list-style-type: square;
 }

 #records li {
    margin: 10px 0;
 }

 #records li:last-of-type {
    margin-bottom: 0;
 }

 a, a:active, a:visited {
    color: black;
 }

 a:hover, a:focus {
    text-decoration: underline;
    cursor: pointer;
 }

 .top {
    padding: 2rem 0;
 }

 footer {
    background-color: fa86c4;
    padding: 20px;
    text-align: center;
    font-size: larger;
    border-top: 3px solid #fd5da8;
 }

 @media (max-width: 700px) {
body {
  font-size: 0.8rem;
}

   h1 {
    border: 4px ridge #8df0c7ab;
 }
   }
